NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
COMMUNICATION_PROVIDER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
WHATSAPP_WEBHOOK_SIGNING_SECRET=
SMS_PROVIDER_API_KEY=
SMS_PROVIDER_FROM=
EMAIL_PROVIDER_API_KEY=
EMAIL_PROVIDER_FROM=
PAYMENT_PROVIDER=
PAYMENT_PROVIDER_API_KEY=
PAYMENT_PROVIDER_MERCHANT_ID=
PAYMENT_PROVIDER_REQUEST_URL=
PAYMENT_PROVIDER_STATUS_URL=
PAYMENT_PROVIDER_CANCEL_URL=
PAYMENT_WEBHOOK_SIGNING_SECRET=
VALSENTRA_INTERNAL_API_KEY=
DEV_AUTONOMOUS_TEST_OVERRIDE=
DEV_ALLOW_QUIET_HOURS_WHATSAPP=
WORKER_ID=
WORKER_LOCATION_SCOPE=
WORKER_ORGANIZATION_SCOPE=
WORKER_POLL_INTERVAL_MS=
WORKER_MAX_JOBS_PER_TICK=
WORKER_HEARTBEAT_INTERVAL_MS=
